
<main class="space"></main>

<%= render 'visitors/search' %>

<main>
	<major>
		<h2>Consectetur adipisicing elit</h2>
		<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
	</major>
</main>
