<hero>
	<h2>Hi. This is BASE.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</hero>

<main>
	<major>
		<h2>Consectetur adipisicing elit</h2>
		<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
	</major>
</main>

<main class="light-gray">
	<major>
		<h2>Consectetur adipisicing elit</h2>
		<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
	</major>
	
	<boxes>
		<div class="box-frame">
			<box>
				<i class="icon big rounded color1 fa-cloud"></i>
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
			</box>
		</div>
		<div class="box-frame">
			<box>
				<i class="icon big rounded color9 fa-desktop"></i>
				<h3>Consectetur adipisicing</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
			</box>
		</div>
		<div class="box-frame">
			<box>
				<i class="icon big rounded color6 fa-rocket"></i>
				<h3>Adipisicing elit totam</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eveniet, nesciunt molestias. Ipsam, voluptate vero.</p>
			</box>
		</div>
	</boxes>
	
</main>

<main class="blue">
	<major>
		<h2>Consectetur adipisicing elit</h2>
		<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
	</major>
</main>
	