
<main class="space"></main>

<%= render 'search/search' %>

<main>
	<major>
		<h2>Hi. This is mindcast.io</h2>
		<p>An open-source full-text search engine and API backend for podcast apps</p>
	</major>
</main>
