
<% content_for :title do %>Imprint / Impressum<% end %>

<main>
	
	<editorial>
	
		<h3>Impressum / Imprint</h3>
		<p>*** TBD ***</p>
		<p>Insert all the legal foo to keep the trolls away!</p>
		<p>*** END TBD ***</p>

	</editorial>

</main>