<footer>

	<copyright>
		<ul>
			<li>&copy; 2016 mindcast.io. All rights reserved.</li>
			<li><%= link_to 'Our Privacy Policy', page_path('privacy') %></li>
			<li><%= link_to 'Imprint / Impressum', page_path('imprint') %></li>
		</ul>
	</copyright>

	<social_media>
		<ul>
			<li>
				<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
			</li>
			<li>
				<a class="icon rounded fa-github" href="https://github.com/orgs/mindcastio"><span class="label">GitHub</span></a>
			</li>
		</ul>
	</social_media>
	
</footer>
